<div class="post-item card mb-3 bg-light">
    <div class="card-header container-fluid">
    </div>

    <form [formGroup]="postForm">
        <div class="card-body">
            <textarea name="content" id="content" rows="4" formControlName="content"></textarea>
        </div>
        <div class="card-fotter">
            <div class="edit-menu float-right">
                <button type="button" class="btn-secondary btn btn-sm mr-1" (click)="onCancel()">Cancel</button>
                <button type="button" class="btn-secondary btn btn-sm" (click)="onSave()"
                    data-test="save-button">Save</button>
            </div>
        </div>
    </form>
</div>