<div class="header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> TUNING </a>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
                    <a class="nav-link home" routerLink="/"> Home </a>
                </li>
                <li routerLinkActive="active" class="nav-item"> <a class="nav-link notification"
                        routerLink="/notification"> 通知 </a>
                </li>
            </ul>
            <ul class="navbar-nav mt-2 mt-lg-0" *ngIf="(isLogin | async) === false">
                <li routerLinkActive="active" class="nav-item"> <a class="nav-link login" routerLink="/login"> Login
                    </a> </li>
                <li routerLinkActive="active" class="nav-item"> <a class="nav-link register" routerLink="/register">
                        Register </a> </li>
            </ul>
            <ul class="navbar-nav mt-2 mt-lg-0" *ngIf="isLogin | async">
                <li class="nav-item"> <a class="logout" (click)="onLogout()"> Logout </a> </li>
            </ul>
        </div>
    </nav>
</div>