<div class="header">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> TUNING </a>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li routerLinkActive="active" class="nav-item"> <a class="nav-link home" routerLink="/"> Home </a> </li>
                <li class="nav-item"> <a class="nav-link notification" routerLink="/"> 通知 </a> </li>
            </ul>
        </div>
    </nav>
</div>